<!doctype html>
	<html>
	<head>
		<title><%= APP_NAME %></title>
	</head>
	<body>
		<div style="background-color: aquamarine">Hola  <%= name %></div>
		<div>Haga clic en el botón de abajo para confirmar su dirección de correo electrónico</div>
	</body>

	<div>
		<a href='<%= urlAction %>'><button>Confirmar Registro</button></a>

		<p>
		Si tiene alguna pregunta, visite nuestro centro de ayuda.
		Gracias por ser parte de la comunidad <%= APP_NAME %>
		</p>
	</div>
</html>